@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Ropa+Sans&display=swap');

:root{
  font-size: 62.5%;

  --color-icon:#cc8c03;
  
  --color-dark:#333331fd;
  
  --color-letras-dark:#050505;
  
  --color-light:#d1cdcd;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
  letter-spacing: 0.1rem;
} 

body{
background-color: var(--color-light);
} 

.area-cadastro{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#cadastro_form {
  animation: dark-to-light-background 1.5s ease-in-out;
}

.cadastro{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 37.5rem;
  height: 50rem;
  padding: 3.5rem;
  border-radius: 0rem 0rem 11.3rem 0rem;
  -webkit-border-radius: 0rem 0rem 11.3rem 0rem;
  box-shadow: 1rem 1rem 1.6rem 1rem rgba(0,0,0,0.62);
} 

.cadastro form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4.8rem;

}

.dark-light-btn {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}

#mode_icon {
  position: absolute;
  cursor: pointer;
  font-size: 2rem;
}

.cadastro img{
  width: 20rem;
}

.cadastro input{
  margin-top: 1rem;
  background-color:white;
  padding-left: 1rem;
  border: none; 
  height: 4.5rem;
  outline: none;
  border-radius: 0.8rem;
} 

input::placeholder{
  font-size: 1.8rem;
}

.dados-cadastro [type="submit"]{
  background-color: #f6511d;
  display: block;
  font-size: 2rem;
  color: #f7ede2;
  font-weight: bold;
  cursor: pointer;
} 

.btn:hover{
  background-color: #FBBE28;
  transition: all 0.8s ease-in-out;
} 

.dark#cadastro_form{
  color: var(--color-icon);
  background-color: var(--color-dark);
  animation: light-to-dark-background 0.5s ease-in-out;
}

@keyframes light-to-dark-background {
  0% {
      background-color:var(--color-light);
  }
  
  100.0% {
      background-color:var(--color-dark); 
  }
}

@keyframes dark-to-light-background {
  0% {
      background-color:var(--color-dark);
  }

  100% {
      background-color:var(--color-light); 
  }
}

@media screen and (max-width: 37.5rem){
  .cadastro{
    width: 30rem;
    padding: 2.5rem;
  }

  .cadastro input{
    margin-top: 1.5rem;
  }
}