@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Ropa+Sans&display=swap');

:root{
  --color-icon:#cc8c03;
  
  --color-dark:#333331fd;
  
  --color-letras-dark:#050505;
  
  --color-light:#d1cdcd;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
  letter-spacing: 1px;
} 

body{
background-color: var(--color-light);
} 

.area-cadastro{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
} 

.cadastro{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 500px;
  padding: 35px;
  border-radius: 0px 0px 113px 0px;
  -webkit-border-radius: 0px 0px 113px 0px;
  box-shadow: 10px 10px 16px 10px rgba(0,0,0,0.62);
} 

.cadastro form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 48px;

} 

.cadastro img{
  width: 250px;
}

#mode_icon {
  cursor: pointer;
  font-size: 20px;
}

.cadastro input{
  margin-top: 10px;
  background-color:white;
  padding-left: 10px;
  border: none; 
  height: 45px;
  outline: none;
  border-radius: 8px;
} 

input::placeholder{
  font-size: 18px;
}

.dados-cadastro [type="submit"]{
  background-color: #f6511d;
  display: block;
  font-size: 20px;
  color: #f7ede2;
  font-weight: bold;
  cursor: pointer;
} 

.btn:hover{
  background-color: #FBBE28;
  transition: all 0.8s ease-in-out;
} 

.dark#cadastro_form{
  color: var(--color-icon);
  background-color: var(--color-dark);
  animation: light-to-dark-background 0.5s ease-in-out;
}

@keyframes light-to-dark-background {
  0% {
      background-color:var(--color-light);
  }
  100.0% {
      background-color:var(--color-dark); 
  }
}