@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Ropa+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
  letter-spacing: 1px;
} 

body{
  background-color:#1B1f27;
} 

.area-login{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
} 

.login{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #242741;
  width: 375px;
  height: 500px;
  padding: 35px;
  border-radius: 10px;
} 

.login form{
  display: flex;
  flex-direction: column;
  width: 100%;
  

} 

.login input{
  margin-top: 10px;
  background-color:white;
  padding-left: 10px;
  border: none; 
  height: 45px;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
} 

.login .senha input{
  margin-top: 10px;
  background-color:white;
  padding-left: 10px;
  border: none; 
  height: 45px;
  outline: none;
  border-radius: 8px;
}

.login img{
  width: 200px;
  height: auto;
}

input::placeholder{
  font-size: 18px;
}

.dados-login [type="submit"]{
  background-color: #fbbe28;
  display: block;
  color: #242741;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.lembrar {
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: space-between;
  font-size: 18px;
}

.lembrar input{
  height: 20px;
}

.lembrar .checkbox{
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: flex-start;
  gap: 5px;
  color: #fbbe28;
  font-size: 18px;
}

.lembrar p a{
  color: #fbbe28;
}

.fazer-cadastro{
  margin-top: 10px;
  color: aliceblue;
}

.fazer-cadastro a{
  color: #fbbe28;
  text-decoration: none;
}